<beans xmlns="http://www.springframework.org/schema/beans">
    <bean id="wheel" class="com.titizz.simulation.toyspring.Wheel">
        <property name="brand" value="Michelin" />
        <property name="specification" value="265/60 R18" />
    </bean>

    <bean id="car" class="com.titizz.simulation.toyspring.Car">
        <property name="name" value="Mercedes Benz G 500"/>
        <property name="length" value="4717mm"/>
        <property name="width" value="1855mm"/>
        <property name="height" value="1949mm"/>
        <property name="wheel" ref="wheel"/>
    </bean>

    <bean id="helloService" class="com.titizz.simulation.toyspring.HelloServiceImpl"/>

    <bean id="logInterceptor" class="com.titizz.simulation.toyspring.aop.LogInterceptor"/>

    <bean id="autoProxyCreator" class="com.titizz.simulation.toyspring.aop.AspectJAwareAdvisorAutoProxyCreator"/>

    <bean id="helloServiceAspect" class="com.titizz.simulation.toyspring.aop.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="logInterceptor"/>
        <property name="expression" value="execution(* com.titizz.simulation.toyspring.HelloService.*(..))"/>
    </bean>
</beans>